# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

abis/
defi-derivatives-quant/
.env*
notebooks/PSG Staking Models/html/data_2019_10_4.html
notebooks/PSG Staking Models/html/data_2020_11_12.html
notebooks/PSG Staking Models/html/data_2020_12_4.html
notebooks/PSG Staking Models/html/data_2020_5_14.html
notebooks/PSG Staking Models/html/data_2020_6_10.html
notebooks/PSG Staking Models/html/data_2020_9_18.html
notebooks/PSG Staking Models/html/data_2021_11_26.html
notebooks/PSG Staking Models/html/data_2021_1_12.html
notebooks/PSG Staking Models/html/data_2021_4_20.html
notebooks/PSG Staking Models/html/data_2021_5_17.html
notebooks/PSG Staking Models/html/data_2021_6_16.html
notebooks/PSG Staking Models/html/data_2021_9_16.html
notebooks/PSG Staking Models/html/data_2022_1_31.html
notebooks/PSG Staking Models/html/data_2022_5_5.html
notebooks/PSG Staking Models/html/data_2022_5_6.html
notebooks/PSG Staking Models/html/data_2022_5_7.html
notebooks/PSG Staking Models/images/var_image_9.png
notebooks/PSG Staking Models/images/var_image_8.png
notebooks/PSG Staking Models/images/var_image_7.png
notebooks/PSG Staking Models/images/var_image_6.png
notebooks/PSG Staking Models/images/var_image_5.png
notebooks/PSG Staking Models/images/var_image_4.png
notebooks/PSG Staking Models/images/var_image_3.png
notebooks/PSG Staking Models/images/var_image_2.png
notebooks/PSG Staking Models/images/var_image_11.png
notebooks/PSG Staking Models/images/var_image_10.png
notebooks/PSG Staking Models/images/var_image_1.png
notebooks/PSG Staking Models/images/rate_model_9.png
notebooks/PSG Staking Models/images/rate_model_8.png
notebooks/PSG Staking Models/images/rate_model_7.png
notebooks/PSG Staking Models/images/rate_model_6.png
notebooks/PSG Staking Models/images/rate_model_5.png
notebooks/PSG Staking Models/images/rate_model_4.png
notebooks/PSG Staking Models/images/rate_model_3.png
notebooks/PSG Staking Models/images/rate_model_21.png
notebooks/PSG Staking Models/images/rate_model_20.png
notebooks/PSG Staking Models/images/rate_model_2.png
notebooks/PSG Staking Models/images/rate_model_19.png
notebooks/PSG Staking Models/images/rate_model_18.png
notebooks/PSG Staking Models/images/rate_model_17.png
notebooks/PSG Staking Models/images/rate_model_16.png
notebooks/PSG Staking Models/images/rate_model_15.png
notebooks/PSG Staking Models/images/rate_model_14.png
notebooks/PSG Staking Models/images/rate_model_13.png
notebooks/PSG Staking Models/images/rate_model_12.png
notebooks/PSG Staking Models/images/rate_model_11.png
notebooks/PSG Staking Models/images/rate_model_10.png
notebooks/PSG Staking Models/images/rate_model_1.png
notebooks/PSG Staking Models/images/random_image_9.png
notebooks/PSG Staking Models/images/random_image_8.png
notebooks/PSG Staking Models/images/random_image_7.png
notebooks/PSG Staking Models/images/random_image_6.png
notebooks/PSG Staking Models/images/random_image_5.png
notebooks/PSG Staking Models/images/random_image_4.png
notebooks/PSG Staking Models/images/random_image_3.png
notebooks/PSG Staking Models/images/random_image_29.png
notebooks/PSG Staking Models/images/random_image_28.png
notebooks/PSG Staking Models/images/random_image_27.png
notebooks/PSG Staking Models/images/random_image_26.png
notebooks/PSG Staking Models/images/random_image_25.png
notebooks/PSG Staking Models/images/random_image_24.png
notebooks/PSG Staking Models/images/random_image_23.png
notebooks/PSG Staking Models/images/random_image_22.png
notebooks/PSG Staking Models/images/random_image_21.png
notebooks/PSG Staking Models/images/random_image_20.png
notebooks/PSG Staking Models/images/random_image_2.png
notebooks/PSG Staking Models/images/random_image_19.png
notebooks/PSG Staking Models/images/random_image_18.png
notebooks/PSG Staking Models/images/random_image_17.png
notebooks/PSG Staking Models/images/random_image_16.png
notebooks/PSG Staking Models/images/random_image_15.png
notebooks/PSG Staking Models/images/random_image_14.png
notebooks/PSG Staking Models/images/random_image_13.png
notebooks/PSG Staking Models/images/random_image_12.png
notebooks/PSG Staking Models/images/random_image_11.png
notebooks/PSG Staking Models/images/random_image_10.png
notebooks/PSG Staking Models/images/random_image_1.png
notebooks/PSG Staking Models/images/modern_image_9.png
notebooks/PSG Staking Models/images/modern_image_8.png
notebooks/PSG Staking Models/images/modern_image_7.png
notebooks/PSG Staking Models/images/modern_image_6.png
notebooks/PSG Staking Models/images/modern_image_5.png
notebooks/PSG Staking Models/images/modern_image_4.png
notebooks/PSG Staking Models/images/modern_image_3.png
notebooks/PSG Staking Models/images/modern_image_22.png
notebooks/PSG Staking Models/images/modern_image_21.png
notebooks/PSG Staking Models/images/modern_image_20.png
notebooks/PSG Staking Models/images/modern_image_2.png
notebooks/PSG Staking Models/images/modern_image_19.png
notebooks/PSG Staking Models/images/modern_image_18.png
notebooks/PSG Staking Models/images/modern_image_17.png
notebooks/PSG Staking Models/images/modern_image_16.png
notebooks/PSG Staking Models/images/modern_image_15.png
notebooks/PSG Staking Models/images/modern_image_14.png
notebooks/PSG Staking Models/images/modern_image_13.png
notebooks/PSG Staking Models/images/modern_image_12.png
notebooks/PSG Staking Models/images/modern_image_11.png
notebooks/PSG Staking Models/images/modern_image_10.png
notebooks/PSG Staking Models/images/modern_image_1.png
notebooks/PSG Staking Models/images/bond_image_9.png
notebooks/PSG Staking Models/images/bond_image_8.png
notebooks/PSG Staking Models/images/bond_image_7.png
notebooks/PSG Staking Models/images/bond_image_6.png
notebooks/PSG Staking Models/images/bond_image_5.png
notebooks/PSG Staking Models/images/bond_image_4.png
notebooks/PSG Staking Models/images/bond_image_3.png
notebooks/PSG Staking Models/images/bond_image_2.png
notebooks/PSG Staking Models/images/bond_image_17.png
notebooks/PSG Staking Models/images/bond_image_16.png
notebooks/PSG Staking Models/images/bond_image_15.png
notebooks/PSG Staking Models/images/bond_image_14.png
notebooks/PSG Staking Models/images/bond_image_13.png
notebooks/PSG Staking Models/images/bond_image_12.png
notebooks/PSG Staking Models/images/bond_image_11.png
notebooks/PSG Staking Models/images/bond_image_10.png
notebooks/PSG Staking Models/images/bond_image_1.png
notebooks/PSG Staking Models/data/sol_4h_365.csv
notebooks/PSG Staking Models/data/sol_1d_365.csv
notebooks/PSG Staking Models/data/near_4h_365.csv
notebooks/PSG Staking Models/data/near_1d_365.csv
notebooks/PSG Staking Models/data/luna_4h_365.csv
notebooks/PSG Staking Models/data/luna_1d_365.csv
notebooks/PSG Staking Models/data/FTMUSDT-aggTrades-2022-01-16.zip
notebooks/PSG Staking Models/data/ftm_4h_365.csv
notebooks/PSG Staking Models/data/ftm_1d_365.csv
notebooks/PSG Staking Models/data/eth_4h_365.csv
notebooks/PSG Staking Models/data/eth_1d_365.csv
notebooks/PSG Staking Models/data/eth_12h_365.csv
notebooks/PSG Staking Models/data/coincodex3/solana_2020-12-1_2022-6-14.csv
notebooks/PSG Staking Models/data/coincodex3/near-protocol_2020-12-1_2022-6-14.csv
notebooks/PSG Staking Models/data/coincodex3/fantom_2020-12-1_2022-6-14.csv
notebooks/PSG Staking Models/data/coincodex3/ethereum_2020-12-1_2022-6-14.csv
notebooks/PSG Staking Models/data/coincodex3/bitcoin_2020-12-1_2022-6-14.csv
notebooks/PSG Staking Models/data/coincodex3/avalanche_2020-12-1_2022-6-14.csv
notebooks/PSG Staking Models/data/coincodex2/terra_2020-12-1_2022-5-10.csv
notebooks/PSG Staking Models/data/coincodex2/terra_2020-12-1_2022-5-1.csv
notebooks/PSG Staking Models/data/coincodex2/solana_2020-12-1_2022-5-10.csv
notebooks/PSG Staking Models/data/coincodex2/solana_2020-12-1_2022-5-1.csv
notebooks/PSG Staking Models/data/coincodex2/ripple_2020-12-1_2022-5-10.csv
notebooks/PSG Staking Models/data/coincodex2/polkadot_2020-12-1_2022-5-10.csv
notebooks/PSG Staking Models/data/coincodex2/near-protocol_2020-12-1_2022-5-10.csv
notebooks/PSG Staking Models/data/coincodex2/near-protocol_2020-12-1_2022-5-1.csv
notebooks/PSG Staking Models/data/coincodex2/matic-network_2020-12-1_2022-5-10.csv
notebooks/PSG Staking Models/data/coincodex2/fantom_2020-12-1_2022-5-10.csv
notebooks/PSG Staking Models/data/coincodex2/fantom_2020-12-1_2022-5-1.csv
notebooks/PSG Staking Models/data/coincodex2/ethereum_2020-12-1_2022-5-10.csv
notebooks/PSG Staking Models/data/coincodex2/ethereum_2020-12-1_2022-5-1.csv
notebooks/PSG Staking Models/data/coincodex2/cardano_2020-12-1_2022-5-10.csv
notebooks/PSG Staking Models/data/coincodex2/bitcoin_2020-12-1_2022-5-10.csv
notebooks/PSG Staking Models/data/coincodex2/binance-coin_2020-12-1_2022-5-10.csv
notebooks/PSG Staking Models/data/coincodex2/avalanche_2020-12-1_2022-5-10.csv
notebooks/PSG Staking Models/data/coincodex2/avalanche_2020-12-1_2022-5-10 (1).csv
notebooks/PSG Staking Models/data/coincodex2/avalanche_2020-12-1_2022-5-1.csv
notebooks/PSG Staking Models/data/binance/SOLUSDT-trades-2022-01-16.zip
notebooks/PSG Staking Models/data/binance/SOLUSDT-trades-2022-01-16.csv
notebooks/PSG Staking Models/data/binance/sol_1d_365.csv
notebooks/PSG Staking Models/data/binance/FTMUSDT-aggTrades-2022-01-16.zip
notebooks/PSG Staking Models/data/binance/FTMUSDT-aggTrades-2022-01-16.csv
notebooks/PSG Staking Models/data/binance/Binance_SOLUSDT_d.csv
notebooks/PSG Staking Models/data/binance/Binance_MATICUSDT_d.csv
notebooks/PSG Staking Models/data/binance/Binance_ETHUSDT_d.csv
notebooks/PSG Staking Models/data/binance/Binance_DOTUSDT_d.csv
notebooks/PSG Staking Models/data/binance/Binance_BTCUSDT_d.csv
notebooks/PSG Staking Models/data/binance/Binance_ADAUSDT_d.csv
notebooks/PSG Staking Models/data/avax_4h_365.csv
notebooks/PSG Staking Models/data/avax_1d_365.csv
